.Excel input {
    font: 16px Arial;
}

.Excel td {
    border-top: 1px solid #000;
    cursor: cell;
    padding: 5px;
}

.Excel th {
    cursor: pointer;
    padding: 5px;
}

.Excel table {
    border: 1px solid #000;
    margin: 20px 0;
    width: 100%;
}

.Excel .toolbar {
    margin-left: 20px;
}

.Excel .toolbar a, .Excel .toolbar button { /* thanks css3buttongenerator.com! */
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
    margin-right: 5px;
}

.Excel .toolbar a:hover, .Excel .toolbar button:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
